<div class="container" ng-controller="HeaderController">
  <div class="navbar-header">
    <button class="navbar-toggle" ng-click="toggleCollapsibleMenu()" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ng-hide="authentication.user" ui-sref="home">Arawak</a>
    <a class="navbar-brand" ng-show="authentication.user" ui-sref="dashboard">Arawak</a>
  </div>
  <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);"></ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
      <li ui-sref-active="active">
        <a target="_self" ui-sref="authentication.signup">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li ui-sref-active="active">
        <a target="_self" ui-sref="authentication.signin">Sign In</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
          <img alt="{{authentication.user.displayName}}" class="header--nav__profile-image" gravatar-size="28" gravatar-src="authentication.user.email"/>
          <span ng-bind="authentication.user.displayName"></span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active">
            <a ui-sref="settings.profile">Profile</a>
          </li>
          <li ng-show="authentication.user.provider === 'local'" ui-sref-active="active">
            <a ui-sref="admin.users">Control Panel</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div><div class="container" ng-controller="HeaderController">
  <div class="navbar-header">
    <button class="navbar-toggle" ng-click="toggleCollapsibleMenu()" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" ng-hide="authentication.user" ui-sref="home">Arawak</a>
    <a class="navbar-brand" ng-show="authentication.user" ui-sref="dashboard">Arawak</a>

  </div>
  <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);"></ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
      <li ui-sref-active="active">
        <a target="_self" ui-sref="authentication.signup">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li ui-sref-active="active">
        <a target="_self" ui-sref="authentication.signin">Sign In</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
          <img alt="{{authentication.user.displayName}}" class="header--nav__profile-image" gravatar-size="28" gravatar-src="authentication.user.email"/>
          <span ng-bind="authentication.user.displayName"></span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active">
            <a ui-sref="settings.profile">Profile</a>
          </li>
          <li ng-show="authentication.user.provider === 'local'" ui-sref-active="active">
            <a ui-sref="admin.users">Control Panel</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
