.home .menubar {
  display: none;
}
.main-logo {
  float: left;
}
.main-logo__link {
  display: block;
  padding: 6px 6px;
  border-radius: 2px;
  font-size: 24px;
  font-size: 1.5rem;
}
.main-logo__link img {
  display: block;
  height: 28px;
}
.main-nav {
  float: right;
}
.main-nav ul li {
  float: left;
}
@media screen and (max-width: 480px) {
  .main-nav--lap-and-up {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .main-nav--palm {
    display: none;
  }
}
.main-nav__link {
  display: block;
  padding: 0 12px;
  border-radius: 2px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
  color: white;
  line-height: 36px;
  text-decoration: none;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .main-nav__link {
    font-size: 14px;
    font-size: 0.875rem;
  }
}


.dropdown-link {
  min-width: 140px;
}

.header--nav__profile-image {
	opacity: 0.8;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	margin-right: 5px;
}

.header--nav__profile__name {
	text-transform: capitalize;

}
.open  .header--nav__profile-image,
a:hover .header--nav__profile-image {
	opacity: 1;
}

.user-header-dropdown-toggle {
	padding-top: 11px !important;
	padding-bottom: 11px !important;
}

.navbar-default {
    background-color: $primaryColor;
    border-color: #e7e7e7;
}
