<!-- <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <h3 class="page-header">Start S Tasks</h3>
      <p>Signup for a <strong>FREE 1 day trial</strong> of Todoodle today and start dropkicking your todo list into the stratosphere. To get started, hit us up with an Email Address, Password, and your credit card details. Your card <strong>will not be charged</strong> until your trial ends!</p>
      <form id="application-signup" class="signup" novalidate="novalidate">
        <h4 class="page-header">Account details</h4>
        <div class="form-group">
          <label for="fullName">Full Name</label>
          <input type="text" name="fullName" class="form-control" placeholder="Full Name">
        </div>
        <div class="form-group">
          <label for="emailAddress">Email Address</label>
          <input type="email" name="emailAddress" class="form-control" placeholder="Email Address">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <h4 class="page-header">Payment Information</h4>
        <label>Which plan sounds <em>amazing</em>?</label>
        <div class="list-group select-plan">

      <a href="#" class="list-group-item active">
        <input type="radio" name="selectPlan" id="selectPlan_tiny" value="tiny">
        Tiny: 1 list <span class="pull-right">$5 / month</span>
      </a>

      <a href="#" class="list-group-item">
        <input type="radio" name="selectPlan" id="selectPlan_small" value="small">
        Small: 5 lists <span class="pull-right">$10 / month</span>
      </a>

      <a href="#" class="list-group-item">
        <input type="radio" name="selectPlan" id="selectPlan_medium" value="medium">
        Medium: 10 lists <span class="pull-right">$15 / month</span>
      </a>

      <a href="#" class="list-group-item">
        <input type="radio" name="selectPlan" id="selectPlan_large" value="large">
        Large: 20 lists <span class="pull-right">$20 / month</span>
      </a>

  </div>
        <p class="alert alert-info"><strong>Jokes aside:</strong> to test out the credit card form, you can use the card number <strong>4242 4242 4242 4242 along with any future expiration month, year, and CVV</strong>. In one day, you'll receive an email from Todoodle confirming the end of your one day trial to showcase Stripe in action.</p>
        <div class="form-group">



    <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="text-success"><i class="fa fa-lock"></i> Card Number (Totes Secure, Like a Bank)</label>

          <input type="text" name="cardNumber" class="form-control card-number" placeholder="Card Number">

      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-4">
    <label>Exp. Mo.</label>
    <input type="text" name="expMo" class="form-control exp-month" placeholder="Exp. Mo.">
  </div>
  <div class="col-xs-4">
    <label>Exp. Yr.</label>
    <input type="text" name="expYr" class="form-control exp-year" placeholder="Exp. Yr.">
  </div>

    <div class="col-xs-4">
      <label>CVC</label>
      <input type="text" name="cvc" class="form-control cvc" placeholder="CVC">
    </div>


  </div>


        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success btn-block" data-loading-text="Setting up your trial..." style="margin-top: 40px; margin-bottom: 20px;" value="Put me on the rocketship">
          <p>After you click, we'll setup your account and start your trial. Again, <strong>your card will not be charged until your trial has ended</strong>.</p>
        </div>
      </form>
    </div>
  </div> -->

<div data-ng-controller="AuthenticationController">
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" required id="firstName" name="firstName" class="form-control"
						   data-ng-model="credentials.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control"
						   data-ng-model="credentials.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email"
						   placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control"
						   data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control"
						   data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Sign up</button>
					&nbsp; or&nbsp;
					<a data-ui-sref="authentication.signin" class="show-signup">Sign in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</div>
